<nav id="nav" [class.hidden]="false" [class.scrolled]="isScrolled">
  <a class="nav-logo" (click)="goHome()">
    <span class="nav-logo-dot"></span>
    Kevyn SOLA
  </a>
  <div class="nav-links">
    <a routerLink="/" [fragment]="'projects'" class="hide-m" (click)="closeMenu()">Projets</a>
    <a routerLink="/" [fragment]="'about'" class="hide-m" (click)="closeMenu()">À propos</a>
    <a routerLink="/" [fragment]="'contact'" class="hide-m" (click)="closeMenu()">Contact</a>
    <a href="mailto:kevyn.sola@gmail.com" class="nav-cta">Disponible</a>
  </div>
</nav>
