<!--<section id="contact" class="contact">
  <div class="container">
    <h2>Contact</h2>
    <div class="contact-links">
      <a href="mailto:kevyn.sola@gmail.com">
        <i class="icon-email"></i> kevyn.sola@gmail.com
      </a>
      <a href="https://linkedin.com/in/kevyn-sola" target="_blank">
        <i class="icon-linkedin"></i> LinkedIn
      </a>
      <a href="https://github.com/kevyn-sola" target="_blank">
        <i class="icon-github"></i> GitHub
      </a>
    </div>
  </div>
</section>-->
